{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <main>
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center ">Checkout form</h2>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 mb-4">
            <div class="card">
              <form method="POST" class="card-body">
                {% csrf_token %}

                <div class='hideable_shipping_form'>

                  <div class="md-form mb-5">
                    <input type='text' placeholder='Bill' id='first_name' name='first_name' 
                      class='form-control' required="" />
                    <label for="first_name" class="">First Name</label>
                  </div>

                  <div class="md-form mb-5">
                    <input type='text' placeholder='Smith' id='last_name' name='last_name' 
                      class='form-control' required=""/>
                    <label for="last_name" class="">Last Name</label>
                  </div>

                  <div class="md-form mb-5">
                    <input type='text' placeholder='Email' id='email' name='email' 
                      class='form-control' required=""/>
                    <label for="email" class="">Email</label>
                  </div>

                  <div class="md-form mb-5">
                    <input type='text' placeholder='1234 Main St' id='shipping_address' 
                      name='shipping_address' class='form-control' required=""/>
                    <label for="shipping_address" class="">Address</label>
                  </div>

                  <div class="md-form mb-5">
                      <label for="country">Country</label>
                      <input type='text' placeholder='Country' id='shipping_country' 
                        name='shipping_country'class='form-control' required=""/>
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
                  </div>

                  <div class="md-form mb-5">
                      <label for="shipping_zip">Zip</label>
                      <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' 
                        class='form-control' required=""/>
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                  </div>

                  <div class="md-form mb-5">
                    <input type='text' placeholder='XXXX-XXXX-XXXX-XXXX' id='number' name='number' 
                      class='form-control' required=""/>
                    <label for="number" class="">Credit Card Number</label>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-12 md-form mb-5">
                      <input type='text' placeholder='XX/XX' id='expiration' name='expiration' 
                        class='form-control' required=""/>
                      <label for="expiration" class="">Expiration</label>
                    </div>
                    <div class="col-lg-6 col-md-12 md-form mb-5">
                      <input type='text' placeholder='XXX' id='cvv' name='cvv' class='form-control' 
                        required=""/>
                      <label for="cvv" class="">CVV</label>
                    </div>
                  </div>

                  <div class="md-form mb-5 d-flex justify-content-center">
                    Total: ${{ object.get_total_price }}
                  </div>

                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" name="pdf" type="submit">BUY</button>

                </div>
              </form>
            </div>
          </div>
        </div>
        
    </div>
</main>

{% endblock content %}
